body{
    background-color: #2e2d2d;
}
#start-button{
    align-items: center;
    justify-content: center;
}
#status{
    color: #ffffff;
}
.controls{
    width: 25%;
}
img{
    width: 250px;
    height: 400px;
}