*{
    box-sizing: border-box;
    margin: 0 auto;
}
body{
    background-color: #3f3f3f;
    color: #ffffff;
}
#start-button{
    align-items: center;
    justify-content: center;
}
#status{
    color: #ffffff;
}
.controls{
    width: 25%;
}
img{
   width: 15vw;
  height: 40vh
}
button{
    width: 7rem;
}
#status_label{
     color: white;
}