<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/gamesheet.css">
    <title>Ride the bus</title>
</head>

<body>
    <div id="game" >
  
            <h1 class="m-5 d-flex justify-content-center">Ride the bus</h1>
            <div id="cards" class="m-5 d-flex justify-content-center">
                <div id="card1" class="m-3"><img src="../images/backside.png" alt="backside image"></div>
                <div id="card2" class="m-3"><img src="../images/backside.png" alt="backside image"></div>
                <div id="card3" class="m-3"><img src="../images/backside.png" alt="backside image"></div>
                <div id="card4" class="m-3"><img src="../images/backside.png" alt="backside image"></div>
            </div>

            <div id="status" class="m-2 d-flex justify-content-center"></div>
            <label id="status_label" class="m-3 d-flex justify-content-center">Click start to play!</label>

            <div id="controls" class="flex-column gap-3 justify-content-center">
                <div id="start-phase" class="d-flex justify-content-center">
                    <button id="start_button" type="button" class=" m-2 btn btn-primary btn-lg">Start</button>
<button id="rules_button" type="button" class=" m-2 btn btn-primary btn-lg text-nowrap" data-bs-toggle="modal" data-bs-target="#modal-gameRules">Game Rules</button>

                <div id="round-1-phase" class="m-3 d-none justify-content-center">
                    <button type="button" id="guessRed" class=" m-1 btn btn-danger">Red</button>
                    <button type="button" id="guessBlack" class=" m-1 btn btn-dark">Black</button>
                </div>
                <div id="round-2-phase" class="m-3 d-none justify-content-center">
                    <button type="button" id="guessHigher" class="m-1 btn btn-primary">Higher</button>
                    <button type="button" id="guessLower" class="m-1 btn btn-primary">Lower</button>
                    <button type="button" id="guessSame" class="m-1 btn btn-primary">Same</button>
                </div>

                <div id="round-3-phase" class="m-3 d-none justify-content-center">
                    <button type="button" id="guessInside" class="m-1 btn btn-primary">Inside</button>
                    <button type="button" id="guessOutside" class="m-1 btn btn-primary">Outside</button>
                </div>

                <div id="round-4-phase" class="m-3 d-none justify-content-center">
                    <button type="button" id="guessHearts" class="m-1 btn btn-danger">Hearts</button>
                    <button type="button" id="guessSpades" class="m-1 btn btn-dark">Spades</button>
                    <button type="button" id="guessDiamonds" class="m-1 btn btn-danger">Diamonds</button>
                    <button type="button" id="guessClubs" class="m-1 btn btn-dark">Clubs</button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-gameRules" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Game rules ride the bus:</h5>
                    </div>
                    <div class="modal-body">
                        <h5>Introductie</h5>
                        <p>Ride the bus is een heel simpel kaart spel met een standaard deck van 52 kaarten waarin je 4
                            rondes speelt
                        </p>
                        <h5>Ronde 1</h5>
                        <p>Ronde 1
                            De eerste ronde moet je gokken zonder een kaart te zien of de kaart rood of zwart is, als je dit
                            fout hebt verlies je als je dit goed hebt mag je door naar de volgende ronde.
                        </p>  
                        <h5>Ronde 2</h5>  
                        <p> Ronde 2
                            Deze ronde beschikt over de vraag Hoger of lager dan de vorige kaart dus stel je hebt een 5
                            harten en je kiest hoger en dan de word er een kaart omgedraaid die een 6 of hoger is dan mag je
                            door naar de volgende ronde
                        </p> 
                        <h5>Ronde 3</h5>
                        <p>
                            Ronde 3
                            Deze ronde krijg je de vraag of je kaart tussen de vorige 2 kaarten inzit je krijgt de opties
                            inside of outside de bedoeling is dat je bij inside dus een value krijgt tussen de 2 kaarten
                            hebt die al zijn omgedraaid. Bijvoorbeeld dat je bij een 9 en een 6 en je kiest inside moet je
                            6-7-8-9 krijgt de rest daar buiten is fout. En daar buiten geld precies andersom.
                        </p>
                        <h5>Ronde 4</h5>
                        <p>Ronde 4
                            De laatste ronde komt puur neer op gokken je moet er voor zorgen dat je de juiste kiest dus je
                            hebt 4 opties (Hearts, Diamonds, Spades of Clubs) en de bedoeling is dat je de juiste pakt.
                        </p>
                        <h5>Win/Loss</h5>
                        <p>Win/Loss
                            Als je alle rondes goed hebt dan heb je het winners scenario. Bij een loss scenario word de game
                            gereset en moet je opnieuw beginnen.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="close-button" class="btn btn-danger" data-bs-dismiss="modal" &times>Close</button>
                    </div>
                </div>
            </div>
    </div>
</body>
<script src="../js/gamescript.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>



</html>